services:

  #
  # OllamaFlow
  # See https://hub.docker.com/r/jchristn/ollamaflow
  # and https://github.com/jchristn/OllamaFlow
  #

  ollamaflow:
    container_name: 'ollamaflow'
    image: 'jchristn/ollamaflow:v1.2.0'
    ports:
      - "43411:43411"
    stdin_open: true
    tty: true
    volumes:
      - ./ollamaflow.json:/app/ollamaflow.json
      - ./ollamaflow.db:/app/ollamaflow.db
      - ./logs/:/app/logs/
    healthcheck:
      test: curl --fail http://localhost:43411
